<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>ADOPT A PET</h1>
        <!-- page 1 pets -->
        <div v-if="page === 1">
            <div>YOU ARE IN PETS</div>
            <button @click="changePage(2)"> APPLY</button>
        </div>

        <!-- page 2 applications -->
        <div v-if="page === 2">
            <div>YOU ARE IN APPlications</div>
            <button @click="changePage(1)"> LOOK AT PETS </button>
        </div>


    </div>
    <script src="app.js"></script>
</body>
</html>